<div id="deactivate-project-header" class="deactivate-header alert alert-error">
  <h2><%= @project.title %> Deactivated</h2>
  <p>If this was a mistake, you can undo it.</p>
  <p><%= link_to "Undo", activate_project_path(@project), :class => "btn", :id => "undo-project-deactivation", remote: true %></p>
</div>
