<div class="container signin">
  <div class="row">
    <div class="span12">
      <div class="terrible_form">
        <h2>Add A Story.</h2>
          <%= render 'new_user_story_form' %>
      </div>

    </div>
  </div>
</div>
