<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Congratulations <%= @user.first_name %>!</h1>

    <p><%= "#{@inviter.first_name} #{@inviter.last_name}" %> has invited you to join <%= link_to "#{@project.title}", @url %> on Terrible Tracker.</p>

    <p><%= link_to "Click here to accept the invitation!", @accept_url %></p>

  </body>
</html>
