<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Congratulations <%= @user.first_name %>!</h1>

    <p>You've been invited to <%= link_to "#{@project.title}", @url %>.</p>

    <p><%= link_to "Click here to accept the invitation!", @accept_url %></p>

  </body>
</html>
