<h2>Team Invitations</h2>
  <table class="table table-hover">
    <thead>
      <th>Team</th>
      <th>Owner</th>
      <th>Invited by</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% current_user.team_invitations.each do |invitation| %>
        <tr>
          <td><%= invitation.team.name %></td>
          <td><%= "#{invitation.team.owner.first_name} #{invitation.team.owner.last_name}" %></td>
          <td><%= "#{invitation.inviter.first_name} #{invitation.inviter.last_name}" %></td>
          <td><%= invitation.actions_dropdown %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
