<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey! Ho! Let's Go!</h1>

    <p><%= "#{@user.first_name} #{@user.last_name}" %>, you've been assigned to the user story <%= link_to "#{@story.title}", @url %> on "#{@story.project.title}". Now let's get to work!</p>

  </body>
</html>
