/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require flat-ui
 */

.container-body {
  margin: 70px 0 0 0;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {

}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

}

.new-project-btn {
  display: inline-block;
  min-width: 51.5%;
}

body {
  background-color: white;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('http://designmodo.github.io/Flat-UI/fonts/Flat-UI-Icons.eot');
  src: url('http://designmodo.github.io/Flat-UI/fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('http://designmodo.github.io/Flat-UI/fonts/Flat-UI-Icons.woff') format('woff'), url('http://designmodo.github.io/Flat-UI/fonts/Flat-UI-Icons.ttf') format('truetype'), url('http://designmodo.github.io/Flat-UI/fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.row-fluid {
  height: 100%;
}

#sidebar {
  background-color: #E74C3C;
  height: 100%;
}

.inner-sidebar {
  padding: 10px;
  text-align: center;
}

.inner-sidebar .terrible {
  font-family: pacifico;
  font-size: 5em;
  letter-spacing: normal;
  color: #ECF0F1;
}
.inner-sidebar .tracker {
  letter-spacing: normal;
  color: #ECF0F1;
  position: relative;
  top: -1em;
}

body, html {
  height: 100%;
  background-color: #ECF0F1;
}

.todo-search {
  position: relative;
  background: #C0392B !important;
  border-radius: 6px !important;
  color: #ECF0F1 !important;
  padding: 5px !important;
}

.todo-search:before {
  position: absolute;
  font-family: 'Flat-UI-Icons' !important;
  content: "\e01c" !important;
  font-size: 16px;
  display: inline-block;
  top: 50%;
  left: 92%;
  margin: -0.5em 0 0 -1em;
}

input.todo-search-field {
  width: 80% !important;
  background: none;
  border: 0;
  color: #ECF0F1 !important;
  font-size: 19px;
  font-weight: 700;
  margin: 0 0 0 -60px !important;
  line-height: 23px;
  padding: 5px 0;
  text-indent: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input.todo-search-field:-moz-placeholder {
  color: #ECF0F1 !important;
}
input.todo-search-field::-webkit-input-placeholder {
  color: #ECF0F1 !important;
}
input.todo-search-field.placeholder {
  color: #ECF0F1 !important;
}

.dk_toggle {
  background-color: #C0392B !important;
}

.select-icon {
  background: #ECF0F1 !important;
}

.dk_options {
  width: 100% !important;
}

.dk_options a:hover {
  background: #E74C3C !important;
}

.dk_option_current a {
  background: #E74C3C !important;
}

.checkbox:hover {
  color: #ECF0F1 !important;
}

.checkbox.checked .icons,
.radio.checked .icons {
  color: #ECF0F1 !important;
}

.btn-block {
  padding: 8px 0px !important;
  background-color: #C0392B !important;
  color: #2C3E50 !important;
  font-weight: 900 !important;
}

.btn-block:hover {
  background-color: #ECF0F1 !important;
}

.team_sidebar label {
  font-family: 'Lato';
  font-weight: 900;
}

.nested_project {
  margin: 0 0 0 10px !important;
  font-style: italic;
}

.edit-project,
.edit-team {
  width: 50%;
  height: 30px !important;
}

input.edit-project,
input.edit-team {
  font-size: 25px !important;
  font-family: Lato !important;
}

.gravatar-small {
  width: 50px !important;
  float: right;
}

#right-sidebar {
  height: 100%;
  background-color: #ECF0F1;
}

h2.right-sidebar,
div.right-sidebar {
  margin: 10px 0px 0 10px !important;
}

#new-story-btn {
  margin: 0 10px 0 0;
}

#close {
  font-size: 16px;
  margin: 5px 5px 0 0;
  float: right;
  text-decoration: none;
}

.clickable-story {
  display: block;
  border: 2px solid black;
}

#new_team input#team_name {
  text-align: center;
  width: 100% !important;
  background: none;
  border: 0;
  position: relative;
  top: -5px;
  left: 45px;
  color: #2C3E50 !important;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 0 -60px !important;
  line-height: 23px;
  padding: 5px 0;
  text-indent: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#new_team input#team_name:-moz-placeholder {
  color: #2C3E50 !important;
}
#new_team input#team_name::-webkit-input-placeholder {
  color: #2C3E50 !important;
}
#new_team input#team_name.placeholder {
  color: #2C3E50 !important;
}

.team_name {
  display:inline !important;
}

.description {
  height: 80px;
  max-height: 80px;
  max-width: 90%;
}

.dropdown-menu a {
  text-decoration: none;
}

.comments-list {
  max-height: 150px;
  overflow-y: scroll;
}

.half-form-width {
  width: 42.5% !important;
}

.pretty-created-at {
  color: #95A5A6;
  font-size: .7rem;
}
